<div class="grid items-center justify-center space-x-4 mt-3">
  <div class="mt-4">
    <%= render "form", task: @task %>
  </div>
  <br>
  <div>
    <%= link_to "Back to tasks", tasks_path, class: "btn btn-sm" %>
  </div>
</div>
